.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
}
.about {
  width: 592px;
  display: flex;
  gap: 32px;
  align-items: center;
}

.about img {
  width: 176px;
  height: 176px;
}

.sobre {
  width: 384px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.sobre h2 {
  font-size: var(--text-lg);
}
.sobre p {
  font-size: var(--text-md);
}

.info {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  list-style: none;
}

.info li {
  display: flex;
  list-style: none;
  gap: 8px;
  align-content: end;
}

.info div img {
  width: 24px;
  height: 24px;
}
